@import "header.css";
@import "main.css";
@import "footer.css";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  font-family: Arial, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 375px;
}
