.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  flex: 0 0 auto;
  height: 92px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  background-color: #FFFFFF;
}

.header__logo {
  margin: 0 40px;
}

.header__header-menu {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.header-menu__menu-item {
  list-style-type: none;
  margin: 0 14px;
  cursor: pointer;
  transition: color .15s ease-out;
}

.header-menu__menu-item:hover {
  opacity: 1;
  color: #cc0000;
  text-shadow: 0 0 4px #cc000022;
}

.header-menu__menu-item_active_true {
  opacity: 1;
}

.header-menu__menu-item_active_false {
  opacity: 0.6;
}