@import "/src/css/whether-widget.css";
@import "/src/css/house-item.css";
@import "/src/css/pagination.css";
@import "/src/css/filter.css";


.main-content {
  flex: 1 0 auto;
}

.main-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  height: 331px;
  background-image: url("/assets/bg@1x.png");
  background-image: -webkit-image-set(
      url("/assets/bg@1x.png") 1x,
      url("/assets/bg@2x.png") 2x
  );
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-clip: border-box;
  border-radius: 20px;
}

.schedule-pane {
  display: grid;
  padding: 20px 20px 20px 0;
  grid-auto-columns: 200px;
  grid-auto-rows: 120px;
  grid-gap: 15px 15px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-section {
  margin-bottom: 30px;
}

#main {
  margin-right: 26px;
}

#featured-scenarios {
  width: 100%;
  margin-right: 40px;
}

#featured-devices {
  margin-bottom: 0;
  padding-bottom: 0;
}

.main-content__first-line {
  display: flex;
  margin-top: 30px;
  margin-left: 40px;
}

.main-section__header {
  margin-bottom: 20px;
}

.main-section__header_margin_right {
  margin-right: 40px;
  margin-left: 40px;
}

.section-header__name {
  font-weight: bold;
  white-space: nowrap;
  font-size: 18px;
  color: #333333;
  margin-right: 13px;
}

.section-header__name_margin_right {

}

.pagination {
}

.info-pane {
  padding: 26px 0 0 25px;
}

.info-pane__greetings {
  font-weight: bold;
  font-size: 27px;
  line-height: 1.4;
  color: #333333;
}

.info-pane__status {
  font-size: 14px;
  color: #333333;
}

.scenarios-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex__justify_space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex__justify_flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.scenarios-pane {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 100px;
  grid-gap: 15px 15px;
}

.devices-pane {
  display: grid;
  position: relative;
  top: -1px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1px 0 5px 40px;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  grid-auto-rows: 120px;
  grid-gap: 15px 15px;
}


@media screen and (max-width: 970px) {
  .main-content__first-line {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
  }

  #main {
    margin-left: 40px;
    margin-right: 20px;
  }

  #featured-scenarios {
    margin-right: 0;
  }

  .scenarios-pane {
    display: grid;
    position: relative;
    top: -1px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1px 0 5px 40px;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    grid-auto-rows: 100px;
    grid-gap: 15px 15px;
  }

  .scenarios-header {
    width: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* TODO - перепроверить всё, кроме фоновой картинки */
@media screen and (max-width: 710px) {
  #main {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-right: 40px;
  }

  .main-widget {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 331px; /* FIXME */
    width: auto;
    max-width: 630px;
    min-width: 335px;

    background-image: url("/assets/bg@1x.png");
    background-image: -webkit-image-set(
        url("/assets/bg@1x.png") 1x,
        url("/assets/bg@2x.png") 2x
    );
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-clip: border-box;
    border-radius: 20px;
  }

  .schedule-pane {
    display: grid;
    padding: 20px 20px 20px 20px;
    grid-auto-columns: 200px;
    grid-auto-rows: 120px;
    grid-gap: 15px 15px;
    position: relative;
    overflow: auto;
    grid-auto-flow: column;
  }
}

@media screen and (max-width: 750px){
  .scenarios-pane {
    overflow: auto;
  }

  .devices-pane {
    overflow: auto;
  }
}

@media screen and (max-width: 576px){
  #main {
    margin: 0 20px 31px 20px;
  }

  #main > .main-section__header {
    display: none;
  }

  .main-section {
    margin-bottom: 21px;
  }

  .main-section__header {
    margin-left: 20px;
    margin-right: 20px;
  }

  .main-widget {
    height: 282px;
  }

  .info-pane {
    padding-top: 21px;
    padding-left: 20px;
  }

  .info-pane__greetings {
    font-size: 18px;
  }

  .info-pane__status {
    font-size: 12px;
  }

  .scenarios-pane {
    padding-left: 20px;
  }

  .devices-pane {
    padding-left: 20px;
  }

  .main-content__first-line {
    margin: 0;
  }
}