.pagination__arrow {
  cursor: pointer;
  filter: opacity(0.3);
  transition: .15s ease-out;
}

.pagination__arrow:hover {
  filter: opacity(1);
}

.arrow_direction_left {
  padding-left: 15px;
  transform: rotate(180deg);
}

.arrow_direction_right {
  transform: rotate(0deg);
}
