.pagination {
  margin-left: 15px;
  white-space: nowrap;
}

.pagination__arrow {
  /*display: inline-block;*/
  cursor: pointer;
  filter: opacity(0.3);
  transition: .15s ease-out;
}

.pagination__arrow:hover {
  filter: opacity(1);
}

.arrow_direction_left {
  padding-left: 15px;
  transform: scale(-1, 1);
}

.arrow_direction_right {
}
